.post-card{
  margin-bottom: 46px;

  .post-thumbnail{
    display: block;
    position: relative;
    height: 0;
    padding-top: 78.2%;

    @include screen('max-width: 576px'){
      height: unset;
      padding-top: unset;
    }
  }

  .wp-post-image{
    @include absolute(top 0 left 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    @include screen('max-width: 576px'){
      position: static;
      height: 135px;
    }
  }

  &__title{
    margin-top: 14.5px;

    @include screen('max-width: 576px'){
      margin-top: 5px;
    }
  }

  &__cats{
    @include d-flex{
      align-items: getAlign(c);
    }
    color: $color-13;

    span{
      font-weight: $fw-bold;
      text-transform: uppercase;
    }
  }

  &__department,
  &__location{
    @include d-flex{
      align-items: getAlign(c);
      flex-wrap: wrap;
    }
    line-height: 1.2;

    span{
      @include screen('mobile'){
        font-size: 12px;
        line-height: 1;
      }
    }
  }

  &__department{
    position: relative;

    &:after{
      content: '';
      margin-left: 15px;
      margin-right: 15px;
      height: 20px;
      width: 1px;
      background-color: $color-13;

      @include screen('mobile'){
        height: 1.6rem;
      }
    }
  }

  &__content{
    margin-top: 2.4rem;
    margin-bottom: 20px;

    &-mobile{
      font-size: 15px;

      .post-card__content{
        margin-bottom: 12px;

        @include screen('max-width: 576px'){
          margin-top: 0;
        }
      }
      .post-card__footer-inner{
        @include screen('max-width: 576px'){
          justify-content: getJustify(fs);
        }
        li:not(:last-child){
          margin-right: 15px;
        }
      }

      .post-card__title{
        @include screen('max-width: 576px'){
          margin-top: 0;
        }
      }
    }

    @include screen('min-width: 576px'){
      min-height: 84px;
    }
  }

  &__footer-inner{
    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(sb);
      flex-wrap: wrap;
    }
    list-style-type: none;

    li{
      @include screen('tablet'){
        &:not(:last-child){
          margin-right: 15px;
        }
      }
    }

    a{
      width: 72px;
      height: 3rem;
      @include d-flex{
        align-items: getAlign(c);
        justify-content: getJustify(c);
      }
      border-radius: $border-radius;
      background-color: $color-12;

      &:hover{
        background-color: $btn-hover-colour;

        path{
          fill: $colour-white;
          opacity: 1;
        }

        g{
          opacity: 1;
        }

        // vcard icon
        #Group_12044{
          opacity: 1;

          #Subtraction_46{
            opacity: .9;
          }
        }
      }

      svg{
        width: 19px;
        height: 19px;

        path{
          transition: fill $animation-duration $animation-timing-function, opacity $animation-duration $animation-timing-function;
        }
      }
      @include screen('tablet'){
        margin-bottom: 1rem;
        width: 50px;
      }
      @include screen('max-width: 576px'){

        width: 55px;
      }
    }

    @include screen('tablet'){
      justify-content: getJustify(fs);
    }
  }
  @include screen('max-width: 576px'){
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-gap: 15px;
    margin-bottom: 3rem;
  }
}

.posts-grid-people-mobile-header{
  margin-left: -15px;
  margin-right: -15px;
  @include d-flex{
    align-items: getAlign(c);
    justify-content: getJustify(sb);
  }

  a{
    font-size: 15px;
    font-weight: $fw-bold;

    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(c);
    }

    .icon-arrow{
      @include d-flex{
        align-items: getAlign(c);
        justify-content: getJustify(c);
      }
    }
  }
}

// single our people
.single-our-people{
  .post-card__footer-inner{
    justify-content: flex-start;

    .post-card__contact-phone,
    .post-card__contact-mail{
      margin-right: 1.6rem;
    }
  }
}