.social-networks{
  @include d-flex{
    align-items: getAlign(c);
    flex-wrap: wrap;
  }

  &__item{
    padding-bottom: 0 !important;
    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(sb);
    }
    &:not(:last-child){
      margin-right: 20px;
    }
    &.facebook{
      margin-right: 1rem;
    }
  }

  &__link{
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }

  @include screen('desktop'){
    margin-top: 4rem;
  }
  @include screen('mobile'){
    display: none;
  }
}

.d-md-none{
  .social-networks{
    margin-top: 52px;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
  }
}