.related-posts{
  margin-bottom: -10rem;
  padding-top: 80px;
  padding-bottom: 185px;

  background-color: $color-9;

  .post-card{
    @include screen('max-width: 576px'){
      margin-bottom: 20px;
    }
  }

  &-header{
    margin-bottom: 50px;
    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(sb);
    }
  }

  .inline-link-icon{
    font-weight: $fw-bold;
    font-size: 15px;

    &:hover{
      text-decoration: none;

      .icon-arrow{
        margin-left: 7px;
      }
    }
  }

  .icon-arrow{
    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(c);
    }
    transition: margin-left $animation-duration $animation-timing-function;

    .svg-arrow-right{
      margin-left: 6px;
    }
  }

  .post-card__content{
    @include screen('min-width: 576px'){
      min-height: 135px;
    }
    @include screen('max-width: 576px'){
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .post-card__cats{
    @include screen('max-width: 576px'){
      margin-bottom: 5px;
    }
  }

  .post-card__footer-inner{
    a{
      @include screen('mobile'){
        width: 55px;
        background-color: transparent;
        border: 1px solid rgba($color-10, .5);

        &:hover{
          background-color: $color-link-hover;
          border-color: $color-link-hover
        }
      }
    }
  }

  .post-card__footer{
    @include screen('max-width: 576px'){
      margin-top: -4.5rem;
      grid-column: 2 / 3;
    }
  }

  .no-sm-space{
    @include screen('max-width: 576px'){
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include screen('max-width: 576px'){
    margin-bottom: 36px;
    padding-bottom: 36px;
    padding-top: 50px;
  }
}