.top-bar-wrapper{
  padding-top: .4rem;
  padding-bottom: .4rem;
  background-color: $colour-3;
}

.top-bar{

  &__info{
    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(fe);
    }
  }

  .info-link{
    color: $colour-white;
    font-family: $fw-medium;

    &:hover{
      .icon-phone{
        path{
          fill: $colour-8;
        }
      }
    }

    @include d-flex{
      align-items: getAlign(c);
      justify-content: getJustify(c);
    }

    &__text{
      font-size: 15px;
    }

    .icon-phone{
      margin-right: 1rem;

      path{
        fill: white;
      }
    }
  }
}